[package]
name = "sheldon"
version = "0.6.6"
authors = ["Ross MacArthur <ross@macarthur.io>"]
edition = "2018"
description = "Fast, configurable, shell plugin manager."
documentation = "https://sheldon.cli.rs"
readme = "README.md"
repository = "https://github.com/rossmacarthur/sheldon"
license = "MIT OR Apache-2.0"
keywords = ["shell", "plugin", "manager", "zsh", "bash"]
categories = ["command-line-utilities"]
build = "build.rs"
include = ["src/**/*", "LICENSE-*", "README.md", "build.rs"]

[dependencies]
ansi_term = "0.12.1"
anyhow = "1.0.53"
atty = "0.2.14"
casual = "0.2.0"
clap = { version = "3.0.13", features = ["cargo", "env", "derive"] }
clap_complete = "3.0.5"
curl = "0.4.42"
fmutex = "0.1.0"
git2 = { version = "0.13.25", features = ["vendored-libgit2"] }
globwalk = "0.8.1"
handlebars = "4.2.1"
home = "0.5.3"
indexmap = { version = "1.8.0", features = ["rayon", "serde"] }
itertools = "0.10.3"
maplit = "1.0.2"
once_cell = "1.9.0"
rayon = "1.5.1"
regex-macro = "0.2.0"
serde = { version = "1.0.136", features = ["derive"] }
thiserror = "1.0.30"
toml = { version = "0.5.8", features = ["preserve_order"] }
toml_edit = "0.13.3"
url = { version = "2.2.2", features = ["serde"] }
walkdir = "2.3.2"
which = { version = "4.2.4", default-features = false }

[build-dependencies]
anyhow = "1.0.53"

[dev-dependencies]
goldie = "0.2.0"
pest = "2.1.3"
pest_derive = "2.1.0"
pretty_assertions = "1.0.0"
tempfile = "3.3.0"

[workspace]
members = ["tools/gen-readme"]
