[package]
name = "sheldon"
version = "0.6.6"
authors = ["Ross MacArthur <ross@macarthur.io>"]
edition = "2018"
description = "Fast, configurable, shell plugin manager."
documentation = "https://sheldon.cli.rs"
readme = "README.md"
repository = "https://github.com/rossmacarthur/sheldon"
license = "MIT OR Apache-2.0"
keywords = ["shell", "plugin", "manager", "zsh", "bash"]
categories = ["command-line-utilities"]
build = "build.rs"
include = ["src/**/*", "LICENSE-*", "README.md", "build.rs"]

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/{ version }/sheldon-{ version }-{ target }.tar.gz"

[dependencies]
anyhow = "1.0.65"
atty = "0.2.14"
casual = "0.2.0"
clap = { version = "3.2.22", features = ["cargo", "env", "derive"] }
clap_complete = "3.2.5"
constcat = "0.2.0"
curl = "0.4.44"
fmutex = "0.1.0"
git2 = { version = "0.15.0", features = ["vendored-libgit2"] }
globwalk = "0.8.1"
home = "0.5.4"
indexmap = { version = "1.9.1", features = ["rayon", "serde"] }
itertools = "0.10.5"
maplit = "1.0.2"
once_cell = "1.15.0"
rayon = "1.5.3"
regex-macro = "0.2.0"
serde = { version = "1.0.145", features = ["derive"] }
thiserror = "1.0.37"
toml = { version = "0.5.9", features = ["preserve_order"] }
toml_edit = "0.14.4"
upon = { version = "0.4.0", default-features = false, features = ["serde"] }
url = { version = "2.3.1", features = ["serde"] }
walkdir = "2.3.2"
which = { version = "4.3.0", default-features = false }
yansi = "0.5.1"

[build-dependencies]
anyhow = "1.0.65"

[dev-dependencies]
goldie = "0.4.1"
pretty_assertions = "1.3.0"
tempfile = "3.3.0"

[workspace]
members = ["tools/gen-readme"]
