[package]
authors = ["Ross MacArthur <ross@macarthur.io>"]
description = "A fast, configurable, shell plugin manager."
edition = "2018"
homepage = "https://github.com/rossmacarthur/sheldon"
keywords = ["shell", "plugin", "manager", "zsh", "bash"]
license = "Apache-2.0/MIT"
name = "sheldon"
readme = "README.md"
repository = "https://github.com/rossmacarthur/sheldon"
version = "0.4.0"

[dependencies]
ansi_term = "0.11.0"
clap = "2.33.0"
dirs = "2.0.0"
git2 = "0.8.0"
glob = "0.3.0"
handlebars = "1.1.0"
indexmap = { version = "1.0.2", features = ["serde-1"] }
itertools = "0.8.0"
maplit = "1.0.1"
quick-error = { package = "quick-error2", version = "2.0.1" }
reqwest = "0.9.17"
scoped_threadpool = "0.1.9"
serde = { version = "1.0.91", features = ["derive"] }
toml = "0.5.1"
url = "1.7.2"
url_serde = "0.2.0"

[dev-dependencies]
tempfile = "3.0.8"
