[package]
authors = ["Ross MacArthur <ross@macarthur.io>"]
description = "A fast, configurable, shell plugin manager."
edition = "2018"
homepage = "https://github.com/rossmacarthur/sheldon"
keywords = ["shell", "plugin", "manager", "zsh", "bash"]
license = "Apache-2.0/MIT"
name = "sheldon"
readme = "README.md"
repository = "https://github.com/rossmacarthur/sheldon"
version = "0.2.0"

[dependencies]
ansi_term = "0.11.0"
clap = "2.32.0"
dirs = "1.0.5"
git2 = "0.8.0"
glob = "0.3.0"
handlebars = "1.1.0"
indexmap = { version = "1.0.2", features = ["serde-1"] }
maplit = "1.0.1"
log = "0.4.6"
serde = "1.0.89"
serde_derive = "1.0.89"
toml = "0.4.10"
url = "1.7.2"
