<br>
<br>
<h1 align="center">sheldon</h1>
<div align="center">
  <strong>
    <img class="emoji" title=":bowtie:" alt=":bowtie:" src="https://github.githubassets.com/images/icons/emoji/bowtie.png" width="20" height="20" align="absmiddle">
      Fast, configurable, shell plugin manager
    </strong>
</div>
<br />
<div align="center">
  <a href="https://crates.io/crates/sheldon">
    <img src="https://img.shields.io/crates/v/sheldon.svg" alt="Crates.io version" />
  </a>
  <a href="https://github.com/rossmacarthur/sheldon/releases/latest">
    <img src="https://img.shields.io/github/v/release/rossmacarthur/sheldon?label=download&scolor=yellow" alt="Download" />
  </a>
  <a href="https://github.com/rossmacarthur/sheldon/actions?query=workflow%3Abuild">
    <img src="https://img.shields.io/github/workflow/status/rossmacarthur/sheldon/build/master" alt="Build status" />
  </a>
  <a href="https://github.com/rossmacarthur/sheldon/actions?query=workflow%3Arelease">
    <img src="https://img.shields.io/github/workflow/status/rossmacarthur/sheldon/release?label=release" alt="Release status" />
  </a>
  <a href="https://rossmacarthur.github.io/sheldon">
    <img src="https://img.shields.io/badge/docs-latest-blue" alt="Documentation">
  </a>
</div>
<br>
<br>

## Features

- Can manage virtually anything.
  - Any Git repository.
    - Branch / tag / commit support.
    - Submodule support.
    - First class support for GitHub repositories.
    - First class support for Gists.
  - Arbitrary remote scripts or binaries.
  - Local plugins.
  - Inline plugins.
- Highly configurable install methods using
  [handlebars](http://handlebarsjs.com) templating.
- Shell agnostic, with sensible defaults for Zsh.
- Super-fast parallel installation.
- Config file using [TOML](https://toml.io) syntax.
- Lock file for much faster loading of plugins.
- Clean `~/.zshrc` or `~/.bashrc` (just add 1 line).

## Table of Contents

{{{ toc ~}}}
- [Examples](#examples)
- [License](#license)

{{{ contents }}}

## Examples

You can find many examples including deferred loading of plugins in the
[documentation](https://rossmacarthur.github.io/sheldon/Examples.html).

## License

Licensed under either of

- Apache License, Version 2.0 ([LICENSE-APACHE](LICENSE-APACHE) or
  http://www.apache.org/licenses/LICENSE-2.0)
- MIT license ([LICENSE-MIT](LICENSE-MIT) or http://opensource.org/licenses/MIT)

at your option.
